{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="card card-login" style="width: 500px;">
    <div class="card-header">{{ 'layout.register'|trans }}</div>
    <div class="card-body form">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary" />
            </div>
        {{ form_end(form) }}
    </div>
</div>